# Importing all required libarys and extras

In [8]:
import pandas as pd

# Attempt at Method chaining
This function will call my game_stats raw data format it to what is needed

In [7]:
n = "C:/Users/keati/Documents/Cosc301/Nhl_Data/game_teams_stats.csv"

In [5]:
n = "C:/Users/keati/Documents/Cosc301/Nhl_Data/game_teams_stats.csv"

def Cleaning_Game_data(n):
        # Method chaining begins
    df = (
         pd.read_csv(n)
        )
    df2 = (
         df[(df['team_id']) <= 54 ]
         .drop(['game_id','HoA','settled_in','head_coach','faceOffWinPercentage','startRinkSide'], axis ='columns')
         .groupby('team_id').sum()
         .reset_index(drop=True)
    )
    return df2

In [4]:
Cleaning_Game_data(n)

,won,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,giveaways,takeaways,blocked
0,833,4374.0,49450.0,28620.0,17873.0,5864.0,1039.0,12555.0,9805.0,18212.0
1,806,4741.0,51949.0,37955.0,20270.0,6233.0,1042.0,16190.0,13018.0,24341.0
2,869,4892.0,53456.0,38322.0,22213.0,6421.0,1123.0,14698.0,11678.0,22877.0
3,870,5011.0,52992.0,34016.0,22783.0,6480.0,1206.0,14078.0,9228.0,22261.0
4,932,5360.0,54643.0,38459.0,22207.0,6848.0,1354.0,12484.0,9196.0,22451.0
5,980,5289.0,57517.0,36607.0,22364.0,6291.0,1230.0,13006.0,10502.0,20792.0
6,744,4453.0,49328.0,28260.0,19056.0,6209.0,1101.0,12954.0,8173.0,19539.0
7,841,4715.0,51958.0,35018.0,19846.0,6322.0,1139.0,16707.0,10781.0,22976.0
8,822,4959.0,52188.0,36859.0,21559.0,6324.0,1152.0,14989.0,10968.0,21083.0
9,816,5028.0,51796.0,34495.0,20230.0,6271.0,1179.0,16407.0,10970.0,20758.0
10,328,2258.0,22951.0,10556.0,12305.0,3694.0,607.0,5643.0,5443.0,8349.0
11,794,4641.0,53101.0,32039.0,17204.0,6776.0,1137.0,12676.0,12810.0,19732.0
12,704,4462.0,51270.0,31407.0,19954.0,6062.0,1052.0,13102.0,10376.0,18931.0
13,942,5354.0,53598.0,34828.0,21271.0,6818.0,1314.0,13361.0,10970.0,21509.0
14,941,5293.0,53067.0,35950.0,20788.0,6444.0,1315.0,16370.0,12094.0,22660.0
15,858,5052.0,54702.0,28408.0,19468.0,6290.0,1048.0,12058.0,10840.0,20231.0
16,876,4869.0,53271.0,29570.0,17498.0,6449.0,1264.0,14362.0,9280.0,17514.0
17,894,4818.0,52345.0,29304.0,19312.0,6651.0,1102.0,13625.0,11353.0,20796.0
18,929,4952.0,52920.0,34338.0,22539.0,6589.0,1209.0,11153.0,10347.0,21608.0
19,829,4713.0,50003.0,29383.0,21815.0,6533.0,1140.0,15861.0,11896.0,20116.0
20,864,5000.0,51767.0,30530.0,19585.0,6502.0,1215.0,11600.0,11927.0,22762.0
21,724,4545.0,47928.0,30717.0,20575.0,6158.0,1097.0,18535.0,11130.0,21670.0
22,877,4879.0,51361.0,29903.0,22358.0,6783.0,1264.0,11957.0,9883.0,20280.0
23,858,4611.0,50669.0,34797.0,22707.0,6185.0,1134.0,14080.0,9450.0,19377.0
24,918,4867.0,51734.0,35861.0,20408.0,6530.0,1198.0,17189.0,11649.0,21988.0
25,815,4570.0,51934.0,38794.0,20186.0,6552.0,1148.0,15749.0,7462.0,19399.0
26,473,2726.0,30067.0,18356.0,14589.0,4423.0,711.0,5392.0,4680.0,10753.0
27,959,5166.0,55293.0,33191.0,20196.0,6803.0,1334.0,16218.0,11689.0,22142.0
28,765,4480.0,50510.0,34412.0,20883.0,6419.0,1023.0,9308.0,9568.0,20187.0
29,813,4463.0,47994.0,25695.0,18338.0,6264.0,1092.0,11008.0,9525.0,20834.0
30,451,2591.0,27127.0,21913.0,8843.0,2746.0,535.0,8290.0,6056.0,12541.0
31,270,1612.0,19338.0,15709.0,5462.0,2006.0,350.0,5122.0,4053.0,9670.0
32,258,1429.0,15780.0,13125.0,3643.0,1349.0,267.0,4415.0,4709.0,6637.0

In [5]:
def Clean_Teams_List(n):
        # Method chaining begins
    df = (
         pd.read_csv(n)
        .drop(['franchiseId','abbreviation','link'],axis='columns')
        .sort_values(by='team_id',ascending=True)
        .reset_index(drop=True)
        )
    return df

In [9]:
def CoachData(n):
   
    df = (
        pd.read_csv(n)
       .groupby(['head_coach','team_id'])
       .sum()
       .reset_index()
        )
    return df

In [10]:
CoachData(n)

,head_coach,team_id,game_id,won,goals,shots,hits,pim,powerPlayOpportunities,powerPlayGoals,faceOffWinPercentage,giveaways,takeaways,blocked
0,Adam Oates,1,92644960258,20,100.0,1077.0,988.0,431.0,107.0,19.0,2174.1,318.0,256.0,601.0
1,Adam Oates,15,275728878854,68,383.0,3989.0,3239.0,1552.0,471.0,115.0,6745.5,1088.0,928.0,2106.0
2,Al Arbour,2,2007020173,1,4.0,32.0,19.0,10.0,4.0,0.0,0.0,14.0,10.0,17.0
3,Al MacNeil,20,22022224976,4,21.0,293.0,49.0,169.0,52.0,6.0,0.0,0.0,0.0,0.0
4,Alain Nasreddine,1,173635784924,38,240.0,2634.0,1730.0,846.0,274.0,58.0,4002.4,868.0,638.0,1414.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Travis Green,23,843622933660,193,1200.0,12539.0,9109.0,3870.0,1359.0,279.0,21512.2,3543.0,2775.0,6516.0
235,Trent Yawney,16,206538114796,33,257.0,3013.0,1718.0,1896.0,517.0,65.0,0.0,629.0,545.0,1198.0
236,Wayne Gretzky,27,658138762883,143,867.0,9420.0,6225.0,5241.0,1624.0,275.0,0.0,2227.0,1863.0,4332.0
237,Willie Desjardins,23,507779253067,111,614.0,7219.0,4704.0,2493.0,728.0,120.0,12072.0,1996.0,1504.0,3389.0
238,Willie Desjardins,26,278486862042,54,342.0,3974.0,3208.0,1088.0,348.0,56.0,6930.4,1400.0,760.0,1990.0

In [ ]:
def dumb(n
  )