In [1]:
import pandas as pd
import numpy as np
import sys
import time

In [5]:
def ShiftsCleaning(adress1):
        # Method chaining begins
    df = (
         pd.read_csv(adress1)
        .assign(shiftlength=lambda adress1:(adress1['shift_end']-adress1['shift_start']))
        )
    df2 = (
         df[(df['shiftlength']) > 0 ]
        .drop(['period','shift_start','shift_end'], axis='columns')
    )
    return df2

In [6]:
ShiftsCleaning("/Users/vanessadunn/Documents/School/4thYear/Data301/game_shifts.csv")

             game_id  player_id  shiftlength
0         2018020001    8466139         42.0
1         2018020001    8466139         40.0
2         2018020001    8466139         38.0
3         2018020001    8466139         18.0
4         2018020001    8466139         26.0
...              ...        ...          ...
11882730  2016020581    8474596       1113.0
11882731  2016020581    8474596       1200.0
11882732  2016020581    8470320       1200.0
11882733  2016020581    8470320       1200.0
11882734  2016020581    8474596       1200.0

[11880300 rows x 3 columns]

In [ ]:
def GroupingPlayer(df):
    df1 = (
        df.groupby('ID').mean()
    )

In [8]:
def StatsCleaning(adress2):
    df7 = (pd.read_csv(adress2)
          .drop(['faceoffTaken', 'takeaways', 'giveaways','hits','blocked','faceOffWins','evenTimeOnIce','penaltyMinutes','powerPlayTimeOnIce','shortHandedTimeOnIce'],axis='columns')
          .assign(Goals=lambda adress2:(adress2["goals"]+adress2["powerPlayGoals"]+adress2["shortHandedGoals"]))
          .assign(Assists=lambda adress2:(adress2["assists"]+adress2["powerPlayAssists"]+adress2["shortHandedAssists"]))
          .drop(['goals','assists','powerPlayGoals','powerPlayAssists','shortHandedGoals','shortHandedAssists','game_id','player_id'], axis='columns')
          )
    return df7

In [9]:
StatsCleaning("/Users/vanessadunn/Documents/School/4thYear/Data301/game_skater_stats.csv")

        team_id  timeOnIce  shots  plusMinus  Goals  Assists
0             4        955      0          1      0        1
1             4       1396      4          0      0        1
2             4        915      1         -1      0        0
3             4       1367      0         -1      0        5
4             4        676      3         -1      0        0
...         ...        ...    ...        ...    ...      ...
945825        6        501      1         -1      0        0
945826        6       1062      2         -1      0        0
945827        6        913      2          0      0        0
945828        6       1006      1         -1      0        0
945829        6        909      2          0      0        0

[945830 rows x 6 columns]