In [1]:
import pandas as pd

In [3]:
game_shifts = pd.read_csv("/Users/vanessadunn/Documents/School/4thYear/Data301/game_shifts.csv")
game_shifts.head()

      game_id  player_id  period  shift_start  shift_end
0  2018020001    8466139       1            0       42.0
1  2018020001    8466139       1          207      247.0
2  2018020001    8466139       1          375      413.0
3  2018020001    8466139       1          556      574.0
4  2018020001    8466139       1          605      631.0