Adding all necessary imports

In [1]:
import pandas as pd
import numpy as np
import sys
import time

Importing both needed Data sets

In [2]:
game_shifts = pd.read_csv("/Users/vanessadunn/Documents/School/4thYear/Data301/game_shifts.csv")
game_shifts.head()

      game_id  player_id  period  shift_start  shift_end
0  2018020001    8466139       1            0       42.0
1  2018020001    8466139       1          207      247.0
2  2018020001    8466139       1          375      413.0
3  2018020001    8466139       1          556      574.0
4  2018020001    8466139       1          605      631.0

In [3]:
game_stats = pd.read_csv("/Users/vanessadunn/Documents/School/4thYear/Data301/game_skater_stats.csv")
game_stats.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,hits,powerPlayGoals,powerPlayAssists,...,faceoffTaken,takeaways,giveaways,shortHandedGoals,shortHandedAssists,blocked,plusMinus,evenTimeOnIce,shortHandedTimeOnIce,powerPlayTimeOnIce
0,2016020045,8468513,4,955,1,0,0,2.0,0,0,...,0,1.0,1.0,0,0,1.0,1,858,97,0
1,2016020045,8476906,4,1396,1,0,4,2.0,0,0,...,0,1.0,2.0,0,0,2.0,0,1177,0,219
2,2016020045,8474668,4,915,0,0,1,1.0,0,0,...,0,2.0,0.0,0,0,0.0,-1,805,0,110
3,2016020045,8473512,4,1367,3,0,0,0.0,0,2,...,27,0.0,0.0,0,0,0.0,-1,1083,19,265
4,2016020045,8471762,4,676,0,0,3,2.0,0,0,...,0,0.0,1.0,0,0,0.0,-1,613,63,0

Removing unecessary columns

In [31]:
gamestat = game_stats.drop(['faceoffTaken', 'takeaways', 'giveaways','hits','blocked','faceOffWins','evenTimeOnIce','penaltyMinutes','powerPlayTimeOnIce','shortHandedTimeOnIce'],axis='columns')

In [11]:
###Calculting the length of shifts for each of the players in each game
game_shifts['shiftlength']=(game_shifts['shift_end']-game_shifts['shift_start'])

In [8]:
game_shifts['game_id']=game_shifts['game_id'].values.astype(str)
game_shifts['player_id']=game_shifts['player_id'].values.astype(str)

In [14]:
#game_shifts.drop(['shift_start', 'shift_end'],axis='columns')
#game_shifts.head()

      game_id  player_id  period  shift_start  shift_end  shiftlength
0  2018020001    8466139       1            0       42.0         42.0
1  2018020001    8466139       1          207      247.0         40.0
2  2018020001    8466139       1          375      413.0         38.0
3  2018020001    8466139       1          556      574.0         18.0
4  2018020001    8466139       1          605      631.0         26.0

In [18]:
#Creating a common ID for the players/teams
game_shifts['ID']=game_shifts['game_id'].str.cat(game_shifts['player_id'],sep='-')
game_shifts.head()

,game_id,player_id,period,shift_start,shift_end,shiftlength,ID
0,2018020001,8466139,1,0,42.0,42.0,2018020001-8466139
1,2018020001,8466139,1,207,247.0,40.0,2018020001-8466139
2,2018020001,8466139,1,375,413.0,38.0,2018020001-8466139
3,2018020001,8466139,1,556,574.0,18.0,2018020001-8466139
4,2018020001,8466139,1,605,631.0,26.0,2018020001-8466139

In [23]:
#Taking average for each players shift length in the given games
shiftscombined = game_shifts.groupby('ID').mean()
shiftscleaned=shiftscombined.drop(['period','shift_start','shift_end'], axis='columns')
shiftscleaned.head()

                    shiftlength
ID
2010020001-8459628    45.966667
2010020001-8462044   504.142857
2010020001-8465200    55.192308
2010020001-8467351    48.739130
2010020001-8467400    46.241379

In [32]:
gamestat['game_id']=gamestat['game_id'].values.astype(str)
gamestat['player_id']=gamestat['player_id'].values.astype(str)
gamestat['ID']=gamestat['game_id'].str.cat(gamestat['player_id'],sep='-')
gamestat.head()

,game_id,player_id,team_id,timeOnIce,assists,goals,shots,powerPlayGoals,powerPlayAssists,shortHandedGoals,shortHandedAssists,plusMinus,ID
0,2016020045,8468513,4,955,1,0,0,0,0,0,0,1,2016020045-8468513
1,2016020045,8476906,4,1396,1,0,4,0,0,0,0,0,2016020045-8476906
2,2016020045,8474668,4,915,0,0,1,0,0,0,0,-1,2016020045-8474668
3,2016020045,8473512,4,1367,3,0,0,0,2,0,0,-1,2016020045-8473512
4,2016020045,8471762,4,676,0,0,3,0,0,0,0,-1,2016020045-8471762

In [ ]:
#Using Join Inner
pd.concat([game])