In [2]:
import pandas as pd

In [3]:
game_shifts = pd.read_csv("/Users/vanessadunn/Documents/School/4thYear/Data301/game_shifts.csv")
game_shifts.head(50)

       game_id  player_id  period  shift_start  shift_end
0   2018020001    8466139       1            0       42.0
1   2018020001    8466139       1          207      247.0
2   2018020001    8466139       1          375      413.0
3   2018020001    8466139       1          556      574.0
4   2018020001    8466139       1          605      631.0
5   2018020001    8466139       1          662      703.0
6   2018020001    8466139       1          869      883.0
7   2018020001    8466139       1          941      968.0
8   2018020001    8466139       1         1146     1200.0
9   2018020001    8466139       2         1200     1219.0
10  2018020001    8466139       2         1356     1388.0
11  2018020001    8466139       2         1416     1459.0
12  2018020001    8466139       2         1566     1619.0
13  2018020001    8466139       2         1727     1773.0
14  2018020001    8466139       2         1929     2004.0
15  2018020001    8466139       2         2181     2221.0
16  2018020001    8466139       2         2386     2397.0
17  2018020001    8466139       3         2522     2565.0
18  2018020001    8466139       3         2626     2674.0
19  2018020001    8466139       3         2747     2760.0
20  2018020001    8466139       3         2931     3032.0
21  2018020001    8466139       3         3127     3153.0
22  2018020001    8466139       3         3226     3287.0
23  2018020001    8466139       3         3406     3446.0
24  2018020001    8466139       3         3541     3586.0
25  2018020001    8466139       4         3646     3661.0
26  2018020001    8468493       1           42       88.0
27  2018020001    8468493       1          247      282.0
28  2018020001    8468493       1          335      375.0
29  2018020001    8468493       1          418      460.0
30  2018020001    8468493       1          557      574.0
31  2018020001    8468493       1          631      662.0
32  2018020001    8468493       1          777      817.0
33  2018020001    8468493       1          950     1005.0
34  2018020001    8468493       1         1143     1186.0
35  2018020001    8468493       2         1219     1267.0
36  2018020001    8468493       2         1302     1335.0
37  2018020001    8468493       2         1531     1589.0
38  2018020001    8468493       2         1773     1844.0
39  2018020001    8468493       2         1929     2004.0
40  2018020001    8468493       2         2106     2163.0
41  2018020001    8468493       2         2285     2386.0
42  2018020001    8468493       2         2397     2400.0
43  2018020001    8468493       3         2400     2443.0
44  2018020001    8468493       3         2487     2522.0
45  2018020001    8468493       3         2606     2626.0
46  2018020001    8468493       3         2719     2760.0
47  2018020001    8468493       3         2880     2931.0
48  2018020001    8468493       3         2988     3016.0
49  2018020001    8468493       3         3050     3088.0